@use "../utils" as *;

.cart-item {

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__quantity-control {
        display: flex;
        align-items: center;
        width: max-content;
        height: 50px;
        font-size: 20px;
        background-color: var(--color-grey);
        border-radius: 50px;
        
        > button {
            width: 60px;
            height: 100%;
        }

        .quantity-controll {
            &__decrease {
                position: relative;
                
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 26px;
                    height: auto;

                    path {
                        stroke: currentColor;
                    }
                }
            }

            &__amount {
                line-height: 50px;
            }
        }
    }

}
