@use "../utils" as *;

.cart {
    padding: 32px;
    background-color: var(--color-dark-grey);
    
    @include breakpoint(lg) {
        position: relative;
        grid-area: cart;
        padding: 32px 16px;
    }
    
    &--dialog {
        width: calc(100vw - 92px);
        height: 75%;
        color: var(--color-body-font); 
        border: none; 
        border-radius: 32px;
    }

    &--list-scrollable {
        
        @include breakpoint(lg) {
            --scrollbar-width: var(--cart-scrollbar-width, 0px);

            .cart {
                &__list {
                    padding-right: var(--scrollbar-width);
                    margin-right: calc(var(--scrollbar-width) * -1);
                    scrollbar-width: thin;
                }

                &__title,
                &__delivery-type-switch,
                &__summary,
                &__total {
                    padding-right: var(--scrollbar-width);
                }
            }
        }
    }

    &__wrapper {
        display: flex; 
        flex-direction: column; 
        height: 100%;

        @include breakpoint(lg) {
            position: fixed;
            top: 122px;
            width: calc(360px - 32px);
            height: calc(100vh - 203px);
        }
    }

    &__close {
        position: absolute;
        top: 32px;
        right: 32px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        font-size: get-rem(20px);
        font-weight: $font-weight-semibold;
    }
    
    &__title {
        @include breakpoint(lg) {
            text-align: center;
        }
    }

    &__list {
        height: 65%; 
        margin-bottom: 16px; 
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__item {
        position: relative;
        padding: 16px 0;

        &:first-of-type {
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: var(--color-grey);
                content: "";
            }
        }

        &::after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background-color: var(--color-grey);
            content: "";
        }
    }

    &__delivery-type-switch {
        width: 100%;
        margin-bottom: 16px;

        > div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 50px;
            max-width: 320px;
            margin: 0 auto;
            border-radius: 50px;
            background-color: var(--color-grey);

            @include breakpoint(lg) {
                width: 75%;
                max-width: unset;
            }
        }

        label {
            display: block;
            padding: 8px 16px;
            border-radius: 50px;
        }

        input {
            display: none;

            &:checked {
                + label {
                    background-color: var(--color-dark-grey);
                }
            }
        }
    }

    &__summary {
        display: flex;
        flex-wrap: wrap;
        margin: auto 0 16px;

        > span {
            display: block;
            width: 50%;

            &:nth-last-of-type(2n + 1) {
                text-align: right;
            }
        }
    }

    &__total {        
        display: flex;

        > strong {
            display: block;
            width: 50%;

            &:last-of-type {
                text-align: right;
            }
        }
    }

    &__order {
        width: 100%;
        padding: 8px 32px;
        margin-top: 1rem;
        border-radius: 50px;
        font-size: get-rem(20px);
        font-weight: $font-weight-semibold;
    }

}
