@use "../utils" as *;

.menu {
    grid-area: menus;
    max-width: calc(960px + 24px);
    padding: 0 12px;
    margin: 0 auto 32px;

    @include breakpoint(lg) {
        max-width: calc(960px + 48px);
    }
    
    &:last-of-type {        
        .menu__item {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        margin-left: 8px;
    }

    &__list {
        @include breakpoint(md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }
    }

    &__item {
        margin-bottom: 8px;

        @include breakpoint(md) {
            margin-bottom: 0;
        }
    }

}