@use "../utils" as *;

.restaurant {
    grid-area: restaurant;
    margin-bottom: 32px;

    &__wrapper {
        max-width: calc(960px + 24px);
        padding: 0 12px;
        margin: 0 auto 32px;

        @include breakpoint(lg) {
            max-width: calc(960px + 48px);
            margin: 0 auto;
        }
    }

    &__banner {
        margin-bottom: 16px;
        
        img {
            max-height: 200px;
            object-fit: cover;

            @include breakpoint(md) {
                max-height: 340px;
            }

            @include breakpoint(lg) {
                max-height: 400px;
            }
        }
    }

    &__name {
        margin-left: 8px;
    }

    &__navigation {
        position: relative;
        display: flex;
        align-items: center;
        height: 58px;
        padding: 0 24px;
        border-radius: 50px;
        background-color: var(--color-dark-grey);

        @include manual-breakpoint(600px) {
            width: max-content;
            margin: 0 auto;
        }

        @include breakpoint(lg) {
            margin-left: 0;
        }
    }
    
    &__category-list {
        height: 40px;

        @include manual-breakpoint(600px) {
            justify-content: center;
            width: 100%;
        }
    }

    &__category {
        display: flex;
        align-items: center;
        width: auto;
        padding: 4px 0;
        text-align: center;
    }
    
}
