@use "../utils" as *;

.sticky-button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px 0;
    background-color: var(--color-dark-grey);

    @include breakpoint(lg) {
        display: none;
    }

    > button {
        display: block;
        margin: 0 auto;
        padding: 8px 32px;
        height: 50px;
        border-radius: 50px;
        font-size: get-rem(20px);
        font-weight: $font-weight-semibold;

        &::before {
            content: " (" attr(data-cart-item-amount) ")";

            @include breakpoint(lg) {
                content: none;
            }
        }
    }
}
