@use "../utils" as *;

.toastify {
    width: calc(100% - 32px);
    max-width: 580px;
    padding: 12px 16px;
    border-radius: 8px;

    &.toast {
        font-weight: $font-weight-semibold;
        background: linear-gradient(135deg, var(--toast-gradient-from), var(--toast-gradient-to));
        box-shadow: var(--toast-shadow);

        &--primary {
            --toast-gradient-from: var(--color-primary);
            --toast-gradient-to: var(--color-primary-hover);
            --toast-shadow: 0 3px 6px -1px #0000001f, 0 10px 36px -4px #ff800033;

            color: var(--color-black);
        }

        &--success {
            --toast-gradient-from: var(--color-ui-success);
            --toast-gradient-to: var(--color-ui-success-hover);
            --toast-shadow: 0 3px 6px -1px #0000001f, 0 10px 36px -4px #00800033;
        }

        .toast {
            &-close {
                position: absolute;
                top: 12px;
                right: 16px;
                color: currentColor;
                opacity: 1;
            }
        }
    }
}
