/* -------------------------------------------------------- */
/*                        VARIABLES                         */
/* -------------------------------------------------------- */

$breakpoints: (
    md:         						768px,
    lg:         						1280px
);

$colors: (
	light: (

		white:              #FFFFFF,
		black:              #000000,

		grey:             	#3f3d39,
		
		primary:            #FF8000,
		primary-hover:      #ae5603,

		body-font:          #ffffff,
		body-background:    #1c1a17,

		card-background:	#2b2a28

	)
);


$font-size-mobile:			                16px;
$font-size-tablet:			                16px;
$font-size-desktop:			                16px;

$font-size-h1-mobile:			            32px;
$font-size-h2-mobile:			            26px;
$font-size-h3-mobile:			            22px;

$font-size-h1-tablet:			            42px;
$font-size-h2-tablet:			            30px;
$font-size-h3-tablet:			            24px;

$font-size-h1-desktop:		                58px;
$font-size-h2-desktop:		                36px;
$font-size-h3-desktop:		                30px;

$font-letter-spacing:                       normal;

$font-weight-thin:			                100;
$font-weight-extralight:			        200;
$font-weight-light:			                300;
$font-weight-normal:			            400;
$font-weight-medium:		                500;
$font-weight-semibold:		              	600;
$font-weight-bold:			                700;
$font-weight-extrabold:			            800;
$font-weight-black:			                900;

$font-family-body:		                    "Barlow", Arial, sans-serif;
$font-family-headline:		                "Poppins", Arial, sans-serif;
$font-family-monospace:		                Consolas, 'Lucida Console', Monaco, monospace;

$z-index-1:                                 100;
$z-index-2:                                 200;
$z-index-3:                                 300;
$z-index-4:                                 400;
$z-index-5:                                 500;
$z-index-6:                                 600;
$z-index-7:                                 700;
$z-index-8:                                 800;
$z-index-9:                                 900;

$transition-time:							0.4s;