@use 'sass:map';

@use './config' as *;
@use './functions' as *;

/* -------------------------------------------------------- */
/*                       MEDIA MIXINS                       */
/* -------------------------------------------------------- */

// Adds a media query for a specified breakpoint size
@mixin breakpoint($breakpoint) {
    @if not map.has-key($breakpoints, $breakpoint) {
        @error "Invalid breakpoint: '$breakpoint'. It must be one of the following: #{map.keys($breakpoints)}.";
    }

    @media screen and (min-width: get-min-width($breakpoint)) {
        @content;
    }
}

// Adds a media query for a specified custom minimum width
@mixin manual-breakpoint($breakpoint-min-width) {
	@media screen and (min-width: get-rem($breakpoint-min-width)) {
		@content;
	}
}